@{
    Layout = "_Layout";
           ViewBag.Title = "Tin tức";
}
@model List<BlogPost>
<div id="colorlib-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						@foreach (var item in Model)
						{
							<article class="animate-box">
								<div class="blog-img" style="background-image: url(@(item.Thumbnail.Replace("\\","/")));"></div>
								<div class="desc">
									<div class="meta">
										<p>
											<span>@item.CreatedAt.ToString("dd/MM/yyyy")</span>
											<span>@item.User.FullName </span>
										</p>
									</div>
									<h2><a href="#">@item.Title</a></h2>
									<p>@item.Description</p>
								</div>
							</article>
							
						}
					</div>

					<div class="col-md-4 col-md-pull-7">
						<div class="aside animate-box">
							<h3>Bài viết gần đây</h3>
							@foreach (var recent in ViewBag.RecentPost )
							{
								<div class="blog-entry-side">
									<a href="blog.html" class="blog-post">
										<span class="img" style="background-image: url(@(recent.Thumbnail.Replace("\\","/")));"></span>
										<div class="desc">
											<span class="date">@recent.CreatedAt.ToString("dd/MM/yyyy")</span>
											<h3>@recent.Title</h3>
											<span class="cat">@recent.CategoryName</span>
										</div>
									</a>
								</div>
								
							}
						</div>
						<div class="aside animate-box">
							<h3>Danh mục</h3>
							<ul class="category">
								@foreach ( var category in  ViewBag.Categories)
								{
									<li><a href="#"><i class="icon-check"> @category.Name</i><span> (@category.PostCategories.Count)</span></a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	